.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav.header a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

nav.header a:hover {
    color: orange;
}

@media (max-width: 780px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    nav.header {
        /* flex-direction: column; */
        /* align-items: flex-start; */
    }
    nav.header a {
        margin: 10px 6px;
        /* padding: 10px; */
    }
}